on init
    # Setup final cpuset
    write /dev/cpuset/foreground/cpus 0-6
    write /dev/cpuset/foreground/boost/cpus 0-6
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-5
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/restricted/cpus 0-3

    # VM Tweaks
    write /proc/sys/vm/dirty_writeback_centisecs 300
    write /proc/sys/vm/dirty_background_ratio 7
    write /proc/sys/vm/dirty_ratio 15
    write /proc/sys/vm/dirty_expire_centisecs 2000

    # Boot time tuning
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "performance"
    write /sys/devices/system/cpu/cpufreq/policy6/scaling_governor "performance"

on property:sys.boot_completed=1
    # PowerHAL Hint Processing
    setprop vendor.powerhal.init 1

    # Adjust watermark level
    write /proc/sys/vm/watermark_scale_factor 125

    # End boot time tuning
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/policy6/scaling_governor "schedutil"

    # DVFS
    write /sys/kernel/ged/hal/dvfs_margin_value 130
    write /sys/kernel/ged/hal/timer_base_dvfs_margin 798
    write /sys/kernel/ged/hal/loading_base_dvfs_step 4
