on init
    # Setup final cpuset
    write /dev/cpuset/foreground/cpus 0-6
    write /dev/cpuset/foreground_window/cpus 0-6
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/system-background/cpus 0-2
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/restricted/cpus 0-3

    # VM Tweaks
    write /proc/sys/vm/dirty_writeback_centisecs 300
    write /proc/sys/vm/dirty_background_ratio 7
    write /proc/sys/vm/dirty_ratio 15
    write /proc/sys/vm/dirty_expire_centisecs 2000

    # Boot time tuning
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "performance"
    write /sys/devices/system/cpu/cpufreq/policy6/scaling_governor "performance"

## Utilization Clamping
    # Real-Time tasks
    write /dev/cpuctl/rt/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/rt/cpu.uclamp.max max
    write /dev/cpuctl/rt/cpu.uclamp.min 60
    write /dev/cpuctl/rt/cpu.shares 20480

    # Background tasks for best efficiency
    write /dev/cpuctl/background/cpu.uclamp.latency_sensitive 0
    write /dev/cpuctl/system-background/cpu.uclamp.latency_sensitive 0
    write /dev/cpuctl/background/cpu.shares 1024
    write /dev/cpuctl/system-background/cpu.shares 1024
    write /dev/cpuctl/background/cpu.uclamp.min 0
    write /dev/cpuctl/background/cpu.uclamp.max 30
    write /dev/cpuctl/system-background/cpu.uclamp.min 0
    write /dev/cpuctl/system-background/cpu.uclamp.max 30

    # Camera daemon tasks
    write /dev/cpuctl/camera-daemon/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/camera-daemon/cpu.uclamp.max max
    write /dev/cpuctl/camera-daemon/cpu.uclamp.min 70
    write /dev/cpuctl/camera-daemon/cpu.shares 20480

    # dex2oat tasks
    write /dev/cpuctl/dex2oat/cpu.uclamp.latency_sensitive 0
    write /dev/cpuctl/dex2oat/cpu.shares 512

    # Foreground tasks
    write /dev/cpuctl/foreground/cpu.uclamp.latency_sensitive 0
    write /dev/cpuctl/foreground/cpu.uclamp.min 10
    write /dev/cpuctl/foreground/cpu.uclamp.max max
    write /dev/cpuctl/foreground/cpu.shares 20480

    # Foreground window tasks
    write /dev/cpuctl/foreground_window/cpu.uclamp.latency_sensitive 0
    write /dev/cpuctl/foreground_window/cpu.uclamp.min 10
    write /dev/cpuctl/foreground_window/cpu.uclamp.max max
    write /dev/cpuctl/foreground_window/cpu.shares 20480

    # NeuralNetwork API HAL tasks
    write /dev/cpuctl/nnapi-hal/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/nnapi-hal/cpu.uclamp.max max
    write /dev/cpuctl/nnapi-hal/cpu.uclamp.min 90
    write /dev/cpuctl/nnapi-hal/cpu.shares 20480

    # Top app tasks
    write /dev/cpuctl/top-app/cpu.uclamp.latency_sensitive 0
    write /dev/cpuctl/top-app/cpu.uclamp.min 15
    write /dev/cpuctl/top-app/cpu.uclamp.max max
    write /dev/cpuctl/top-app/cpu.shares 20480

on property:sys.boot_completed=1
    # PowerHAL Hint Processing
    setprop vendor.powerhal.init 1

    # Adjust watermark level
    write /proc/sys/vm/watermark_scale_factor 125

    # End boot time tuning
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/policy6/scaling_governor "schedutil"

    # DVFS
    write /sys/kernel/ged/hal/dvfs_margin_value 130
    write /sys/kernel/ged/hal/timer_base_dvfs_margin 798
    write /sys/kernel/ged/hal/loading_base_dvfs_step 4

service vendor.hwcomposer-2-3 /vendor/bin/hw/android.hardware.graphics.composer@2.3-service
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    task_profiles HighPerformance
    override
