# MTK project .rc configure

on init
    mkdir /mnt/media_rw/usbotg 0700 media_rw media_rw
    mkdir /storage/usbotg 0700 root root

on post-fs-data

    # Camera
    chmod 0660 /dev/MAINAF
    chown system camera /dev/MAINAF

    chmod 0660 /dev/MAINAF2
    chown system camera /dev/MAINAF2

    chmod 0660 /dev/SUBAF
    chown system camera /dev/SUBAF

    chmod 0660 /dev/GAF001AF
    chown system camera /dev/GAF001AF

    chmod 0660 /dev/DW9714AF
    chown system camera /dev/DW9714AF

    chmod 0660 /dev/LC898212AF
    chown system camera /dev/LC898212AF

    chmod 0660 /dev/BU64745GWZAF
    chown system camera /dev/BU64745GWZAF

    mkdir /mnt/vendor/persist/camera
    mkdir /data/vendor/camera
    chown system system /mnt/vendor/persist/camera
    chown system system /data/vendor/camera
    chmod 0777 /mnt/vendor/persist/camera
    chmod 0777 /data/vendor/camera
    chmod 0644 /mnt/vendor/persist/camera/rear_dc_cal_wd.bin
    chmod 0644 /mnt/vendor/persist/camera/rear_dc_cal_wu.bin
    chmod 0644 /data/vendor/camera/com.xiaomi.dcal.wd.data
    chmod 0644 /data/vendor/camera/com.xiaomi.dcal.wu.data
    chown system system /data/vendor/camera/com.xiaomi.dcal.wd.data
    chown system system /data/vendor/camera/com.xiaomi.dcal.wu.data
    restorecon_recursive /mnt/vendor/persist/camera

    # Intsense bokeh use
    mkdir /data/vendor/camera/model 0777 system camera
    mkdir /data/vendor/camera/model/dof_model 0777 system camera
    mkdir /data/vendor/camera/model/rt_model 0777 system camera
    copy /vendor/etc/camera/model/dof_model/capture_cache /data/vendor/camera/model/dof_model/capture_cache
    copy /vendor/etc/camera/model/dof_model/capture_model /data/vendor/camera/model/dof_model/capture_model
    copy /vendor/etc/camera/model/dof_model/capture_policy /data/vendor/camera/model/dof_model/capture_policy
    copy /vendor/etc/camera/model/rt_model/preview_cache /data/vendor/camera/model/rt_model/preview_cache
    copy /vendor/etc/camera/model/rt_model/preview_model /data/vendor/camera/model/rt_model/preview_model
    copy /vendor/etc/camera/model/rt_model/preview_policy /data/vendor/camera/model/rt_model/preview_policy
    copy /vendor/etc/camera/com.xiaomi.dcal.wu.data /data/vendor/camera/com.xiaomi.dcal.wu.data
    chmod 0666 /data/vendor/camera/model/dof_model/capture_cache
    chmod 0666 /data/vendor/camera/model/dof_model/capture_model
    chmod 0666 /data/vendor/camera/model/dof_model/capture_policy
    chmod 0666 /data/vendor/camera/model/rt_model/preview_cache
    chmod 0666 /data/vendor/camera/model/rt_model/preview_model
    chmod 0666 /data/vendor/camera/model/rt_model/preview_policy
    chmod 0666 /data/vendor/camera/com.xiaomi.dcal.wu.data

    # Mi Bokeh
    mkdir /data/vendor/camera/mibokeh 0776 system camera

    # SMB
    chown system system /proc/smb/ScreenComm
    chmod 0660 /proc/smb/ScreenComm

    chmod 0660 /dev/spm
    chown system system /dev/spm

    # Fingerprint
    mkdir /data/vendor/misc 01771 system system
    mkdir /data/vendor/fpc 0770 system system
    mkdir /data/vendor/fpdump 0770 system system
    mkdir /data/vendor/gf_data 0770 system system
    mkdir /data/vendor/goodix 0770 system system
    mkdir /mnt/vendor/persist/goodix 0770 system system

on boot
    chmod 0666 /dev/goodix_fp
    chown system system /dev/goodix_fp

    chown system system /sys/devices/platform/1100a000.spi0/spi_master/spi0/spi0.0/clk_enable
    chmod 0660 /sys/devices/platform/1100a000.spi0/spi_master/spi0/spi0.0/clk_enable
    chown system system /sys/devices/platform/1100a000.spi0/spi_master/spi0/spi0.0/wakeup_enable
    chmod 0660 /sys/devices/platform/1100a000.spi0/spi_master/spi0/spi0.0/wakeup_enable
    chown system system /sys/devices/platform/1100a000.spi0/spi_master/spi0/spi0.0/irq
    chmod 0660 /sys/devices/platform/1100a000.spi0/spi_master/spi0/spi0.0/irq
    chown system system /sys/bus/platform/devices/fingerprint/hw_reset
    chmod 0660 /sys/bus/platform/devices/fingerprint/hw_reset
    chown system system /sys/devices/platform/1100a000.spi0/spi_master/spi0/spi0.0/authen_fd/performance
    chmod 0660 /sys/devices/platform/1100a000.spi0/spi_master/spi0/spi0.0/authen_fd/performance
    chown system system /sys/class/drm/card0-DSI-1/disp_param
    chown system system /sys/devices/platform/1100a000.spi0/spi_master/spi0/spi0.0/modalias
    chown 0660 /sys/devices/platform/1100a000.spi0/spi_master/spi0/spi0.0/modalias
    chmod 0664 /sys/class/drm/card0-DSI-1/disp_param
    chown system system /sys/bus/platform/devices/fingerprint/fingerdown_wait

service fuse_usbotg /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbotg /storage/usbotg
    class late_start
    disabled

# Start mmstat
on property:sys.boot_completed=1
    mkdir /sys/kernel/tracing/instances/mmstat 711
    write /sys/kernel/tracing/instances/mmstat/tracing_on 0
    write /sys/kernel/tracing/instances/mmstat/buffer_size_kb 16
    write /sys/kernel/tracing/instances/mmstat/events/mmstat/enable 1
    write /sys/kernel/tracing/instances/mmstat/tracing_on 1
