on post-fs && property:ro.boot.product.hardware.sku=ksrn
    setprop persist.vendor.nfc.config_file_name /vendor/etc/st21nfc_conf_ksrn.conf
    enable st_nfc_hal
    
on post-fs && property:ro.boot.product.hardware.sku=fleur
    setprop persist.vendor.nfc.config_file_name /vendor/etc/st21nfc_conf_fleur.conf
    enable st_nfc_hal

service st_nfc_hal /vendor/bin/hw/android.hardware.nfc-service.st
    class hal
    user nfc
    group nfc
    override
    disabled
